version: '3.8'

services:
  db:
    image: postgis/postgis:15-3.3 # Recommended for spatial data (Polygons)
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=sowit_db
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password

  backend:
    build: ./backend
    # This command migrates the DB and THEN starts the server
    command: >
      sh -c "python manage.py makemigrations plots &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgres://user:password@db:5432/sowit_db
    depends_on:
      - db

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    depends_on:
      - backend
      - db

volumes:
  postgres_data: